# Data Science
pandas
numpy
scikit-learn

# Visualization
matplotlib
seaborn
plotly

# Data Input
openpyxl

# PDF input
pdfplumber

# Frontend
streamlit

# Agentic AI
langchain
langgraph
langchain-google-genai
langchain-groq
langchain-community
langchain-ollama

# Report generation
markdown
reportlab

# Monitoring & Tracing
agentops

# Environment
python-dotenv

# Testing
pytest